#campaign-details {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#campaign-details img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

#campaign-details h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

#campaign-details p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

#campaign-details button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#campaign-details button:hover {
    background-color: #c82333;
}

/* Buttons and Links */
.register-button,
button {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.register-button:hover,
button:hover {
    background-color: #0056b3;
}


